{% extends 'base.html.twig' %}
{% block title %}Bienvenido@{% endblock title %}
{% block invar %} {{parent()}}
{% endblock invar %}
{% block contenido %}

<h1> Últimos movimientos </hr> </h1>

{% endblock contenido %}
{% block piePagina %}
{% endblock piePagina %}
