<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Inicio de sesión</title>
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- CSS de Bootstrap -->
	<link href="./views/css/login.min.css" rel="stylesheet" media="screen">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
    <div id="login-form">
        <h1>Inicio de sesión</h1>
        <fieldset>
            <form action="./login.php" method="POST">
                <input type="text" name="username" placeholder="Rut" pattern="[0-9]{7,8}[0-9]|[0-9]{7,8}[kK]" required autofocus > <!-- JS because of IE support; better: placeholder="Email" -->
                <input type="password" name="password" placeholder="Contraseña" required> <!-- JS because of IE support; better: placeholder="Password" -->
                <input type="submit" value="Login">
								<input type="button" class="button btn-danger" onclick="history.go(-1); return false;" value="Volver">
            </form>
        </fieldset>
    </div> <!-- end login-form -->

		{{ error }}
		<!-- Librería jQuery requerida por los plugins de JavaScript -->
		<script src="http://code.jquery.com/jquery.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>
		<!-- Todos los plugins JavaScript de Bootstrap (también puedes
				 incluir archivos JavaScript individuales de los únicos
				 plugins que utilices) -->
		<script src="./views/js/bootstrap.min.js"></script>
</body>
</html>
